* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}
body{
      background-color: #000000;

}
.top-section{
     width: 100%;      
                         
}
.horizontal-grid{
    display: inline-block;
}
div.initials{
    border: 3px solid #ffffff;
    padding: 10px 30px;
    color: #ffffff;
    margin-top: 10px;


}
nav.menu{
     
    float: right;
    margin-top: 15px;
    margin-right: 90px;


}
.menu ul li{
     display: inline-block;
     margin-left: 12px;
     color: #ffffff;
}
a{
    color:#ffffff;
    text-decoration: none;
}
ul li a:hover{
    border-bottom: 4px solid #ffffff;
    padding-bottom:10px;
    cursor: pointer;
}