* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}
.main-mid-container{
    margin-top: 20px;
}
header{
      background-color: #000000;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      width: 100%;
      height: 80px;
  
}
.top-section{
     width: 100%;      
                         
}
.horizontal-grid{
    display: inline-block;
}
div.initials{
    border: 3px solid #ffffff;
    padding: 10px 30px;
    color: #ffffff;
    margin-top: 18px;
    margin-left:40px;


}
nav.menu{
     
    float: right;
    margin-top: 28px;
    margin-right: 90px;


}
.menu ul li{
     display: inline-block;
     margin-left: 12px;
     color: #ffffff;
}
.banner-section{
    width: 100%;
    height: 580px;
    background-color:#000000;
    margin-top: 50px;
    padding-top: 20px;
    
 
}
.containers-borders{
    border: 3px solid #ffffff;
    float: left;
    color: #ffffff;
   

}
.left-about-me{
    width: 30%;
    height: 400px;
    margin-left: -42px;
   
}
.left-contact-me{
    margin-top: -60px;
    width: 10%;
    height:200px;
    position: absolute;
    margin-top: 1px;
    margin-left: 530px;
}
a{
    color:#ffffff;
    text-decoration: none;
}
ul li a:hover{
    border-bottom: 4px solid #ffffff;
    padding-bottom:10px;
    cursor: pointer;
}
.color{
    color: #ffffff;
}
.font-size{
    color: #ffffff;
    font-size: 12px;
    
}
.remove-list-style  {
    list-style: none;
}
.mid-container{

  margin-left: 280px;
  margin-top: 80px;
}
h1, h2{
    padding-bottom: 20px;
}
.main-content{
   
    width: 100%;
    height: 550px;   
    margin-top:0px;
    padding-top: 30px;
}
footer{
  
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding:40px;
    
}
#footer1{
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding:70px;
    top:0px;
}

.contact-form{

     padding-bottom: 30px;
     width: 100%;
     display: flex;
     justify-content: center;
    

     
}

input [type="email"], input [type="button"], textarea, label{
    display: block;
}
.input-email{
     width:80%;
     border-width: 1px ;
     border-radius: 4px ;
     padding: 15px;

}
form{
    width: 60%;
    margin-left: 190px;
}
label{
    margin-top: 7px;
}
.button-style{
   margin-top: 10px;
   background-color: #000000;
   padding: 12px 30px;
   color: #ffffff;
   border-radius: 4px;
   
}
textarea{
    width:80%;
    border-width: 1px ;
    border-radius: 4px ;
    height: 250px;
}